<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
	<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
	/>

</head>
<body>
<ul th:replace="page-layout :: employeeNavBar" th:fragment="${notifications}"></ul>

		<div class="container">
			<h3>User info</h3>

				<div class="row">
						<div class="col-50">	
							First name: 
						</div>	
						<div class="col-75">
							<text th:text="${user.firstname}"></text>
						</div>
				</div>	
							
				
				<div class="row">
						<div class="col-50">	
							Last name:
						</div>	
						<div class="col-75">
							<text th:text="${user.lastname}"></text>
						</div>
				</div>	
				
				<div class="row">
						<div class="col-50">	
							Email:
						</div>	
						<div class="col-75">
							<text th:text="${user.email}"></text>
						</div>
				</div>	
				
				<div class="row">
					<div class="col-50">
						Phone number:
					</div>	
					<div class="col-75">
						<text th:text="${user.phone}"></text>
					</div>
				</div>	
				
				<div class="row">
					<div class="col-50">
						Gender:
					</div>
					<div class="col-75">
						<text th:text="${user.gender.value}"></text>
					</div>
				</div>	
				
				<div class="row">
					<div class="col-50">
						Date registered:
					</div>
					<div class="col-75">
						<text th:text="${#dates.format(user.localDateTime, 'dd-MMM-yyyy HH:mm')}"></text>
					</div>
				</div>

			<div class="row">
				<div class="col-50">
					Account Status:
				</div>
				<div class="col-75">
					<text th:text="${user.status}"></text>
				</div>
			</div>

		<h4>Books in use</h4>

		<div th:if="${bookPage.content.isEmpty()}">
			No books in use.
		</div>
		<table id="tablestyle" class="css-serial" th:if="${!bookPage.content.isEmpty()}">
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Author</th>
				<th>Release Year</th>
				<th>Genre</th>
				<th>Return Date</th>
			</tr>
			<tr th:each="book : ${bookPage.content}">
				<td></td>
				<td th:text="${book.name}"></td>
				<td th:text="${book.getAuthors().get(0).firstname + ' ' + book.getAuthors().get(0).lastname}"></td>
				<td th:text="${book.releaseYear}"></td>
				<td th:text="${book.genre.value}"></td>
				<td th:text="${#dates.format(book.returnDate, 'dd-MMM-yyyy HH:mm')}"></td>
			</tr>
		</table>
			<br>
			<div th:if="${bookPage.totalPages > 0 && bookPage.content.size() > 0}" class="pagination" th:each="usedBooksPageNumber : ${usedBooksPageNumbers}">
				<a th:href="@{/employee/users/showuserinfo/{userId}(usedBooksPage=${usedBooksPageNumber}, reservedBooksPage=${reservedBookPage.number + 1}, userId=${userId})}"
				   th:text="${usedBooksPageNumber}"
				   th:class="${usedBooksPageNumber==bookPage.number + 1} ? active"></a>
			</div>
			<h4>Reserved books</h4>

		<div th:if="${reservedBookPage.content.size() == 0}">
			No books reserved.
		</div>
		
		<table id="tablestyle" class="css-serial" th:if="${reservedBookPage.content.size() > 0}">
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Author</th>
				<th>Release Year</th>
				<th>Genre</th>
				<th>Reserved from</th>
				<th>Reserved until</th>
			</tr>
			<tr th:each="book : ${reservedBookPage.content}">
				<td></td>
				<td th:text="${book.name}"></td>
				<td th:text="${book.getAuthors().get(0).firstname + ' ' + book.getAuthors().get(0).lastname}"></td>
				<td th:text="${book.releaseYear}"></td>
				<td th:text="${book.genre.value}"></td>
				<td th:text="${#dates.format(book.reservedUntil - 1000 * 60 * 60 * 24 * 7, 'dd-MMM-yyyy HH:mm')}"></td>
				<td th:text="${#dates.format(book.reservedUntil, 'dd-MMM-yyyy HH:mm')}"></td>
			</tr>
		</table>
			<br>
			<div th:if="${reservedBookPage.totalPages > 0 && reservedBookPage.content.size() > 0}" class="pagination" th:each="reservedBooksPageNumber : ${reservedBooksPageNumbers}">
				<a th:href="@{/employee/users/showuserinfo/{userId}(reservedBooksPage=${reservedBooksPageNumber}, usedBooksPage=${bookPage.number + 1}, userId=${userId})}"
				   th:text="${reservedBooksPageNumber}"
				   th:class="${reservedBooksPageNumber==reservedBookPage.number + 1} ? active"></a>
			</div>

		</div>
</body>
</html>