<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Returned Books</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
	<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
	/>

</head>
<body>
<ul th:replace="page-layout :: employeeNavBar" th:fragment="${notifications}"></ul>

		<div class="container">
			
				<div th:if="${userId == null}">		

					<h3>Returned Books</h3>
				
					<div class="row">
						<form th:action="@{/employee/returnedbooks}" method="GET">
							<div class="col-25">
								<Label for="keyword">Search</Label>
							</div>
							<div class="col-search">
								<input type="search" th:value="${keyword}" id="keyword" name="keyword" placeholder="Search user">
							</div>
							<div >
								<input type="submit" value="Search">
							</div>
						</form>
					</div>
					<br/>
					
					<div th:if="${userPage.content.size() > 0}">
						<table id="tablestyle" class="css-serial">
							<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Phone number</th>
								<th>Gender</th>
								<th style="width: 160px">Select User</th>
							</tr>
							<tr th:each="user : ${userPage.content}">
								<td></td>
								<td th:text="${user.firstname}"></td>
								<td th:text="${user.lastname}"></td>
								<td th:text="${user.email}"></td>
								<td th:text="${user.phone}"></td>
								<td th:text="${user.gender}"></td>
								<td>
									<form th:action="@{/employee/returnedbooks}" method="GET">
										<input class="table" style="margin-right: 10px" type="submit" value="Select user">
										<input type="hidden" th:value="${user.id}" th:name="userId">
										<input type="hidden" th:value="${firstName}" th:name="firstName">
										<input type="hidden" th:value="${lastName}" th:nname="lastName">
									</form>		
								</td>
							</tr>
						</table>
						<br>
						<div th:if="${userPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${userPageNumbers}">
							<a th:href="@{/employee/returnedbooks(page=${pageNumber}, keyword=${keyword}, userId=${userId})}"
							   th:text="${pageNumber}"
							   th:class="${pageNumber==userPage.number + 1} ? active"></a>
						</div>

					</div>
				</div>
			
				<div th:if="${userId != null}">
					<h3>User Selected</h3>
					
					<div class="row">
						<div class="col-25">
							<text>Name:</text>
						</div>
						<div class="col-50">
							<text th:text="${user.firstname + ' ' + user.lastname}"></text>
						</div>
					</div>
					<div class="row">
						<div class="col-25">
							<text>Email:</text>
						</div>
						<div class="col-50">
							<text th:text="${user.email}"></text>
						</div>					
					</div>		
					
					<div class="row">
						<div class="col-25">
							<text>Phone:</text>
						</div>
						<div class="col-50">
							<text th:text="${user.phone}"></text>
						</div>	
					</div>
				</div>	
		</div>
		
		<div th:if="${user != null}" class="container">
			<h3>Select returned books</h3>
			
			<label th:if="${booksOfUSer.content.size() == 0}">No books in use by this user.</label>
			
			<table id="tablestyle" class="css-serial" th:if="${booksOfUSer.content.size() > 0}">
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Author</th>
					<th>Release Year</th>
					<th>Genre</th>
					<th>ISBN</th>
					<th>Return Date</th>
					<th style="width: 125px">Select Book</th>
				</tr>
				<tr th:each="book : ${booksOfUSer.content}">
					<td></td>
					<td th:text="${book.name}"></td>
					<td th:text="${book.getAuthors().get(0).firstname + ' ' + book.getAuthors().get(0).lastname}"></td>
					<td th:text="${book.releaseYear}"></td>
					<td th:text="${book.genre.value}"></td>
					<td th:text="${book.isbn}"></td>
					<td th:text="${#dates.format(book.returnDate, 'dd-MMM-yyyy HH:mm')}"></td>
					<td>
						<form th:action="@{/employee/returnedbooks}" method="GET" th:object="${form}">
							<input type="submit" value="Select book" class="table">
							<input type="hidden" th:value="${book.id}" name="selectedBookId">
<!--							<input type="hidden" th:value="${booksOfUSer.content}" th:field="${form.books}">-->
<!--							<input type="hidden" th:value="${selectedBooksOfUser.content}" th:field="${form.bookSet}">-->
							<input type="hidden" th:value="${user.id}" name="userId">
							<input type="hidden" th:value="${selectedBookIdsInString}" name="selectedBookIdsInString">
							<input type="hidden" th:value="${booksOfUSer.number + 1}" name="inUseBookPage">
							<input type="hidden" th:value="${selectedBooksOfUser.number + 1}" name="selectedBookPage">
						</form>
					</td>
				</tr>
			</table>
			<br>
			<div th:if="${booksOfUSer.totalPages > 0 && booksOfUSer.content.size() > 0}" class="pagination" th:each="pageNumber : ${booksOfUSerPageNumbers}">
				<a th:href="@{/employee/returnedbooks(inUseBookPage=${pageNumber}, selectedBookPage=${selectedBooksOfUser.number + 1},
				 keyword=${keyword}, userId=${userId}, selectedBookIdsInString=${selectedBookIdsInString}, selectedBookId=${selectedBookId},
				  removeBookId=${removeBookId})}"
				   th:text="${pageNumber}"
				   th:class="${pageNumber==booksOfUSer.number + 1} ? active"></a>
			</div>

		</div>
				
		<div th:if="${selectedBooksOfUser.content.size() > 0}" class="container">
			<h3>Selected books</h3>
			
			<table id="tablestyle" class="css-serial">
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Author</th>
					<th>Release Year</th>
					<th>Genre</th>
					<th>ISBN</th>
					<th>Return Date</th>
					<th style="width: 150px">Cancel</th>
				</tr>
				<tr th:each="selectedBook : ${selectedBooksOfUser.content}">
					<td></td>
					<td th:text="${selectedBook.name}"></td>
					<td th:text="${selectedBook.authors.get(0).firstname + ' ' + selectedBook.authors.get(0).lastname}"></td>
					<td th:text="${selectedBook.releaseYear}"></td>
					<td th:text="${selectedBook.genre.value}"></td>
					<td th:text="${selectedBook.isbn}"></td>
					<td th:text="${#dates.format(selectedBook.returnDate, 'dd-MMM-yyyy HH:mm')}"></td>
					<td>
						<form th:action="@{/employee/returnedbooks}" method="GET" th:object="${form}" >
							<input type="submit" value="Cancel" style="background-color: red" class="table">
							<input type="hidden" th:value="${user.id}" name="userId">
<!--							<input type="hidden" th:value="${booksOfUSer.content}" th:field="${form.books}">-->
<!--							<input type="hidden" th:value="${selectedBooksOfUser.content}" th:field="${form.bookSet}">-->
							<input type="hidden" th:value="${selectedBookIdsInString}" name="selectedBookIdsInString">
							<input type="hidden" th:value="${selectedBook.id}" name="removeBookId">
							<input type="hidden" th:value="${booksOfUSer.number + 1}" name="inUseBookPage">
							<input type="hidden" th:value="${selectedBooksOfUser.number + 1}" name="selectedBookPage">
						</form>
					</td>
				</tr>
			</table>

			<br>
			<div th:if="${selectedBooksOfUser.totalPages > 0}" class="pagination" th:each="pageNumber : ${selectedBooksOfUserPageNumbers}">
				<a th:href="@{/employee/returnedbooks(selectedBookPage=${pageNumber}, inUseBookPage=${booksOfUSer.number + 1},
				 keyword=${keyword}, userId=${userId}, selectedBookIdsInString=${selectedBookIdsInString},
				 selectedBookId=${selectedBookId}, removeBookId=${removeBookId})}"
				   th:text="${pageNumber}"
				   th:class="${pageNumber==selectedBooksOfUser.number + 1} ? active"></a>
			</div>


			<div class="row">
				<form th:action="@{/employee/confirmreturnedbooks}" method="GET">
					<input type="submit" value="Return books">
					<input type="hidden" th:value="${selectedBookIdsInString}" name="selectedBookIdsInString">
					<input type="hidden" th:value="${user.id}" name="userId">
				</form>
			</div>
		</div>

</body>
</html>